.boardTile {
  width: 25%;
  margin: 10px;
  margin-top: 0px;
  background-color: black;
  padding-bottom: 20px;
}
.boardTile h3 {
  color: white;
  margin: 0px;
}
.boardHeader {
  background-color: rgb(42, 42, 42);
  height: 60px;
  padding: 5px;
  margin-bottom: 10px;
}
.taskBoard {
  display: flex;
}
.newTaskContainer {
  width: 30%;
  background-color: rgb(0, 129, 151);
  color: black;
  padding: 10px;
  margin: 10px;
}
.newTaskContainer h3,
.newTaskContainer a {
  color: black;
}
.new-task-form input {
  background-color: rgb(42, 42, 42);
  color: white;
  font-weight: 100;
  padding-left: 5px;
}
.noTasks {
  color: white;
  padding-left: 5px;
}
